/*.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }
*/

/*laptop  lg */
@media only screen and (min-width: 992px) { 
    
}
/*tablette*/
@media only screen and (max-width: 992px) and (min-width: 576px) {
    
}
/*telephone*/
@media only screen and (max-width: 576px) {
 
    .categorie {
        background-color: #151719;;
        position: fixed;
        width: 70%;
        z-index: 10;
        margin-top: -50%;
        /*margin-top: -52px;*/
        padding-bottom: 100%;
    
    }
    .categorie > ul {
        color: rgba(230, 230, 230, 0.9);
        /*padding: 5px 0px;*/
        border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    }
    
    .categorie ul li {
        color: rgba(230, 230, 230, 0.9);
        padding: 5px 0px;
        border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    }

    .categorie div {
        background-color: chartreuse;
        padding-top: 50%;

    }
}
.qlqCategorie {
    width: 100%;
    height: 33px;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categorie{
    background-color: rgb(27, 11, 116);
    overflow-y: scroll;
}

.collapse {
    background-color: firebrick;
}
.container-fluid{
    background-color: rgb(241, 137, 123);
    height: 100%;
}

.pub1{
    background-color: rgb(126, 236, 126);
}
.affichage{
    background-color: rgb(245, 39, 142);
}


.region{
    background-color: rgb(222, 247, 85);
}

.aLaUne1{
    background-color: rgb(241, 199, 234);
}

.pub2{
    background-color: rgb(165, 245, 241);
}

.aLaUne2{
    background-color: rgb(216, 50, 147);
}

.photoAlaUne{
    background-color: rgb(96, 245, 96);
}