@media (max-width: 576px) {
   
}
.navbar-nav{
    width: 100%;
    background-color: rgb(27, 11, 116);
    text-align: center;
    justify-content: space-around;
}
.collapse {
    background-color: firebrick;
}
.container-fluid{
    background-color: rgb(15, 15, 15);
}

.pub1{
    background-color: rgb(126, 236, 126);
}

.menuDuLogo{
    background-color: rgb(248, 143, 24);
}

.qlqCategorie{
    background-color: rgb(44, 202, 241);
}

.affichage{
    background-color: rgb(245, 39, 142);
}

.rechercheParCategorie{
    background-color: rgb(243, 60, 212);
}

.rechercheParZone{
    background-color: rgb(222, 247, 85);
}

.aLaUne1{
    background-color: rgb(241, 199, 234);
}

.pub2{
    background-color: rgb(165, 245, 241);
}

.aLaUne2{
    background-color: rgb(216, 50, 147);
}

.photoAlaUne{
    background-color: rgb(96, 245, 96);
}